DATABASE_URL="postgresql://neondb_owner:npg_v37riyomduLb@ep-quiet-dust-ayc2hyd3-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require"
NEXTAUTH_SECRET="minhdungland-secret-key-2026"
NEXTAUTH_URL="http://localhost:3000"

# Cấu hình lưu trữ ảnh Cloudinary (Miễn phí 25GB)
CLOUDINARY_CLOUD_NAME="h8s6hyxc"
CLOUDINARY_UPLOAD_PRESET="minhdungland"

# Tự động đẩy Lead sang Google Trang Tính (Google Sheets)
GOOGLE_SHEETS_WEBHOOK_URL="https://script.google.com/macros/s/AKfycbx_PUg_zi1dBiJqa9s8Km6rwozGX5L98Xz-jzCctYEs8Jt5P59sVHvPo4_HRegItQlg/exec"
